# Dependency directories
node_modules/

# Logs
logs
*.log
npm-debug.log*

# dotenv environment variables
.env

# OS-specific files
.DS_Store

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore temporary files
*.swp